@use '../../variables' as *;

.produtos{
    max-width: 1364px ;
    max-height: 613px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px ;

    
    h2{
        font-size: 30px;
        color: $cor-azul;
        font-weight: 700;
        text-align: center;
        margin: 0 24px;

    }

    p{
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 24px;
    }
}
.produtos-barra{
    width: 360px;
    height: 1px;
    background-color: $cor-linha;
}

.produtos-text{
        display: flex;
        flex-direction: row;
        // gap: 20px;
        align-items: center;
    }
.categoria-lista{
    display: grid;
    max-width: 1320px;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);;
    list-style: none;
    text-align: center;
    margin: 24px auto;    
    padding: 0;
    
    
   

    .ativo{
        a{
                color: $cor-azul;
                font-weight: 700;
            }
        }
    
    
    
    a{
        height: 38px;
        display: flex;
        align-items: center;
        border: 1px solid $cor-linha-borda;
        justify-content: center;
        text-decoration: none;
        color: $cor-item-filtro;
        font-weight: 400;
        font-size: 16px;

        
    }
}


