@use '../../variables' as *;

.parceiros{
    margin: 120px auto 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13px;
    max-width: 1281px;
    max-height: 350px;
    padding: 0 80px ;
    
    
    .parceiros-container{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        
    }

    img{
        width: 100%;
        object-fit: cover;
    }

    
}

.parceiros-texto{
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-left: 45px;


        h2{
            font-size: 40px;
            font-weight: 700;
            color: $cor-branco;

        }

        p{
            font-size: 16px;
            font-weight: 400;
            color: $cor-branco;
            margin-top: 8px;
        }

        button{
            width: 144.69px;
            height: 48px;
            border: none;
            border-radius: 6px;
            background-color: $cor-amarelo;
            color: $cor-violeta;
            font-size: 16px;
            font-weight: 700;
            margin-top: 32px;
        }
    }